@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: white;
}
* {
  font-family: poppins;
}
.container {
  margin: auto;
  width: 100%;
}
.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/netflix-B.jpeg");
  /* opacity: 0.8; */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
  
}
nav {
  width: 85%;
  margin: auto;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 10px;
}
nav > img {
  color: red;
  height: 40px;
  width: 110px;
}
nav > button {
  width: 90px;
  height: 35px;
  background-color: red;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
.btn {
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: auto;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 90px;
}
.responsive {
  display: none;
}
.hero p {
  margin-top: -10px;
  line-height: 30px;
}
.start {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 25px;
}
.input input,
button {
  height: 50px;
  border-radius: 5px;
}
.input input {
  width: 400px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  border: 1px solid rgb(127, 124, 124);
  font-size: 1rem;
  padding: 0 10px;
}
.input button {
  width: 192px;
  background-color: red;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
  border: 0;
  /* padding: 15px; */
  margin-top: 15px
}
.section {
  width: 85%;
  margin: auto;
}
.heading {
  font-size: 1.2rem;
  margin-top: 70px;
}
.card ul {
  display: flex;
  gap: 20px;
}
.card li {
  flex-direction: row;
  list-style: none;
  position: relative;
}
.number{
  position: absolute;
  font-family: sans-serif;
  font-weight: bolder;
  color: black;
  top: 90px;
  left: -10px;
  font-size: 3rem;
  -webkit-text-stroke: 2px white;
}
.card li img {
  height: 150px;
  width: 120px;
  border-radius: 10px; /* Adjust as needed */
  transition: transform 0.3s ease-in;
}
.card li img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* more reason to join section*/
.enjoy {
  background: linear-gradient(135deg, #101a40 0%, #31191e 100%);
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
.enjoy span {
  font-size: 1.2rem;
  font-weight: 600;
}
.enjoy p {
  color: rgb(210, 208, 208);
  font-family: sans-serif;
}

.more-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.frequent {
  background-color: rgb(52, 52, 52);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 15px;
  font-size: 1.2rem;
  height: 40px;
}
.frequent i {
  font-size: 1.8rem;
}

.footer {
  margin-top: 40px;
}
.anchor a {
  font-family: sans-serif;
  color: rgb(213, 210, 210);
}
.footer-list {
  margin-left: -40px;
  margin-bottom: 0;
  line-height: 35px;
}
.list {
  margin-top: -18px;
}
.footer-list li {
  list-style: none;
}
.footer-list li a {
  color: rgb(213, 210, 210);
}
.selects {
  height: 30px;
  width: 140px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.selects i {
  margin-left: 5px;
  font-size: 1rem;
}

select {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  font-size: 1rem;
  height: 30px;
  width: 110px;
  border-radius: 5px;
}

.paragraph {
  color: gray;
  margin: 25px 0;
}
.btn-red {
  width: 85vw;
  height: 40px;
  margin-bottom: 20px;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tab responsive */
@media only screen and (min-width: 992px) {
  nav > img {
    color: red;
    height: 70px;
    width: 170px;
  }
  .hero {
    margin-top: 100px;
  }
  .paragraph-second br {
    display: none;
  }
  .paragraph-second{
    margin-bottom: 0;
  }
  
  .input input{
    width: 340px;
    height: 60px;
  }
  .input button{
    height: 62px;
    margin-left: 5px;
  }

  .secon-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .enjoy {
    height: 200px;
    margin-bottom: -1px;
  }
  .Main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
  }
  .Main-section input{
    width: 450px;
  }
  .Main-section button{
    margin-top: 0;
    margin-left: -10px;
  }
  .btn-red {
    display: none;
  }
  .para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


/* Laptop Responsive */
@media only screen and (min-width: 1200px) {
  .hero h1 {
    margin-top: -10px;
    font-size: 3rem;
    font-weight: 900;
  }
  .paragraph-second br {
    display: none;
  }

  .secon-section {
    display: flex;
    justify-content: space-between;
  }
  .enjoy {
    height: 250px;
    width: 290px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
  }
  .para {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .para p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .input input {
    font-weight: 400;
    width: 400px;
  }
  .Main-section{
    width: 900px;
  }
  .Main-section input{
    width: 600px;
  }
  .Main-section button{
    margin-left: -60px;
  }
  .btn-red {
    display: none;
  }
  .footer-list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .hero {
    margin-top: 150px;
  }
  /* .card  {
    background-color: red;
    display: flex;
    justify-content: flex-start;
    height: 200px;
    width: 150px;
    border-radius: 10px; /* Adjust as needed */
    /* transition: transform 0.3s ease-in; */
 /* } */
 .card ul {
  display: flex;
  gap: 50px;
}
  .card ul li img {
    height: 250px;
    width: 200px;
    border-radius: 10px; /* Adjust as needed */
    transition: transform 0.3s ease-in;
    
  }
  /* .card li{
    position: relative;
  } */
  .number{
    top: 170px;
    left: -10px;
    font-size: 4rem;
  }
}

